document-reporter-parent/config/sortings.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sortings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sorting" maxOccurs="unbounded"
					minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="id" />
							<xs:element type="xs:string" name="name-pattern" />
							<xs:element type="xs:string" name="folder" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>